<!-- <p>navbar works!</p> -->
<!-- <nav class="navbar sticky-top navbar-dark bg-none">
    <a class="navbar-brand" href="#">Invoice - Generator</a>
  </nav> -->

  <!-- <nav class="navbar navbar-dark bg-dark">
    Invoice - Generator
  </nav>
  
  <nav class="navbar navbar-dark bg-primary">
    About us
  </nav>
  
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    Contact us
  </nav> -->
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-none">
    <a class="navbar-brand" >Invoice-Generator</a>
    <div class="navbar-brand" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Take a Tour</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">New Invoice</a>
        </li> -->
         <!-- <li class="nav-item-login"> -->
          <!-- <a class="nav-link" href="#">Registar</a> -->
          <!-- <button  >Registar</button> -->
          <!-- <a class="nav-link" routerLink="/register" routerLinkActive="Active">Register</a>
        </li>  -->
        <!-- <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div> --> 
        
         <!-- <li class="nav-item-login">
          <a class="nav-link" routerLink="/login" routerLinkActive="Active">Log in</a> -->
          <!-- <button type="button" class="btn btn-dark">Log in</button> -->
        <!-- </li>
        
      </ul>
    </div>
  </nav> -->


  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-none">
    <div>
      <ul>
        <li>
          <button type="button" class="btn btn-dark">Registar</button>
        </li>
        <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <li>
          <button type="button" class="btn btn-dark">Log in</button>
        </li>
      </ul>
    </div>
  </nav> -->