
<section>
    
    
    <div class="add-product-form">
        <div class="wrapper" >
        <header class="main-header" class="mb-3"><h5>Add new product!!!!!</h5></header>
       
        
            <div class="form">
                <div class="inputfield"  >
            <label for="name" class="form-label"><h5 style="color: white;">Products:&nbsp;&nbsp;&nbsp;</h5></label>
        <input type="text" id="name" placeholder="Item name..." [(ngModel)]='addproductd.products'class="form-control mx-sm-3"/>
                </div>
            </div>
            <div class="form">
                <div class="inputfield"  >
           <label for="price" class="form-label" class="inputfield"><h5 style="color: white;">Price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5></label>

           <input type="text" id="price" placeholder="0.00" [(ngModel)]='addproductd.price' class="form-control mx-sm-3"/>
        </div>
    </div>
    
    <div class="form">
        <div class="inputfield" >
           <label for="quantity" class="form-label"><h5 style="color: white;">Quantity:&nbsp;&nbsp;&nbsp;</h5></label>
             <input type="text" id="quantity" placeholder="quantity" [(ngModel)]='addproductd.quantity' class="form-control mx-sm-3"/>
            
            </div>
        </div>
        
        
        <div class="btn-group" role="group" aria-label="Basic outlined example">
        <div class="panel" >
            <button id="add-product-button" type="button" class="btn btn-outline-primary" style="margin:5px;"  style="color: rgb(250, 245, 245);" (click)=' addP()'  routerLink="/productlist">Add</button>
            <a routerLink="/home">
                <button type="button" class="btn btn-outline-primary" id="cancel-button" style="border: 10mm;" style="color: rgb(252, 250, 250);">Cancel</button>
            </a>
        </div>
        </div>
        </div>
    </div>
</section>